// Variables
$highlight: #4ebf3f;
$hoverAnimationDuration: .2s;
// Mixins
@mixin font-smoothing() {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;	
}