@import "base";
@import "compass/css3";

.page-template-page-activities #activities{
	h2{
		text-align: center;
	}

	.activities-elements-wrapper{
		margin:0 -30px;
		.activities-element{
			margin-bottom:20px;
			text-decoration: none;
			// padding:0 10px;
			// width:25%;
			display:block;
			// float:left;		
			.item-image-wrapper{
				height:200px;
				top:0px;
				margin:0;
				left:15px;
				right:15px;
				.item-image, .item-image-blur{
					top:0px;
					bottom:0px;
					width:100%;
				}
			}
			.item-image-content{
				padding:0;
				min-height:200px;
				width:100%;
				text-align:center;
				.vertical-center{
					h2{
						font-size:25px;
						padding:0 10%;
						@include transition-duration(0.5s);
					}
					@include transition-duration(0.5s);
					color:#fff;
					background-color:rgba(0,0,0,0.3);				
				}
			}
			&:hover{
				.item-image-content{
					.vertical-center{
						box-shadow:0 4px 0 $highlight;
						background-color:rgba(0,0,0,0.2);
						h2{
							@include scale(1.2);

							// font-size:50px;
						}
					}
				}
			}
		}
	}

	.activities-detail{
		margin-top:40px;
		.image{
			margin-bottom:10px;
			@media screen and (min-width: 768px){
				margin-left:0px;
				margin-right:0px;
			}
			div{
				height:300px;
				// margin-bottom:10px;
			}
		}


		h1{
			text-align: center;
			// color:white;
			font-size:55px;
		}
		p{
			font-size:16px;
		}
		.first-section{
			// padding:40px calc(16.67% + 10px);
			p{
				// color:white;
				font-size:21px;
				font-weight: 300;
				line-height: 1.5;
				@include font-smoothing();
			}
		}
	}
}