@import "base";
@import "compass/css3";


// EVENTS ALL
.events-list #page{
	.tribe-events-page-title{
		text-transform: lowercase;
		margin-top:30px;
	}
	.event-image{
		@media screen and (min-width: 768px){		
			padding:0 20px 0 0;
		}
		position:relative;
		.date{
			text-decoration: none;
			display: block;
			position:absolute;
			top:0;
			left:15px;
			right:15px;
			@media screen and (min-width: 768px){		
				left:0;
				right:20px;
			}

			margin-top:0;
			@include background-image(linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0)));
			color:white;
			font-size:25px;
			font-weight: 300;
			// font-family: 'Baloo';
			padding: 7px 15px;
		}
		.tribe-events-event-image{		
			img{
				width: 100%;
				height:auto;
				display: block;
				float:left;
			}
		}		
		&:hover{
			img{
				box-shadow:0 4px 0 $highlight;
			}
		}
	}

	h2{
		margin:0 0 15px;
		@media screen and (max-width: 767px){
			margin:10px 0 0;
		}		
		a{
			font-family: 'Open Sans';
		}
	}
	.tribe-events-list-event-description p{
		margin:0 0 20px;
	}
	.type-tribe_events{
		margin-bottom:40px;
	}
	.tribe-events-event-meta, .tribe-events-event-cost{
		font-weight: 300;
		font-size:16px;
		margin-bottom:0px;
	}
	.tribe-event-url{
		text-decoration: none;
		&:hover{
			color:$highlight;
		}
	}
	.button{
		margin-top:20px;
	}
}

// EVENT - SINGLE
.single-tribe_events{
	.tribe-events-content{
		h2{
			margin-top:45px;
		}
	}
	.tribe-events-meta-group-venue{
		margin-bottom:20px;
	}
	// .tribe-events-venue-map > div{
	// 	position:relative;
	// }
	.menu-item-type-custom{
		a{
			background-color:$highlight;
			color:#ffffff !important;
		}		
	}
	.tribe-events-event-meta:first-child{
		border-top:none;
	}
	.tribe-events-venue-map{
		position:relative;
		#overlay {
		   background:transparent; 
		   // background:#ff0; 
		   position:absolute; 
		   z-index: 10;
		   width:100%;
		   height:100%; /* your iframe height */
		   top:0px;  /* your iframe height */
		}
	}
	#tribe-events-footer{
		margin-top:5px;
		padding:20px 0 10px;
		border-top:1px solid #eee;
		border-bottom:1px solid #eee;
	}
}

// EVENT ELEMENTS
.tribe-events-button{
	margin-right:10px;
	display:inline-block;
	border:1px solid #ddd;
	padding:10px 15px;
	text-decoration: none;
	&:hover{
		background-color:$highlight;
		color:white;
		border-color:$highlight;
		text-decoration: none;
	}
} 