@import "base";
@import "compass/css3";

// HEADER
header{
	.container.site-header{
		height:227px;
		position:relative;
		background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.4)), url("../img/header.jpg");
		background-position: center center;
		background-repeat:no-repeat;
		@include background-size(cover);
		text-align:center;
		padding:110px 0 28px;
		margin:0px auto 65px;
		a,p{
			color:white;
		}
		a{
			font-family: 'Baloo';
			font-size:70px;
			margin-top:20px;
			line-height:0.9;
			@media screen and (max-width: 767px){
				font-size:40px;
			}
		}

		p{
			padding:0 15%;
			margin:0px auto;
			font-size:23px;
			@media screen and (max-width: 767px){
				font-size:19px;
			}			
		}	
	}
}

// Language switch
#lang{
	position:absolute;
	top:0px;
	right:0px;
	a{
		font-size:16px;
		font-family: 'Open Sans';
		color:white;
		border:none;
		// background-color:rgba(0,0,0,0.7);
		margin:0;
		text-decoration: none;
		&:hover{
			background-color:$highlight;
		}
	}
	.dropdown-menu{
		background-color:rgba(0,0,0,0.7);
		margin:0;
		padding:0;
		a{
			background-color:transparent;
			padding:12px 20px;
			font-family: 'Open Sans';
			color:white;
			&:hover{
				background-color:$highlight;
			}
		}
	}
}