@import "base";
@import "compass/css3";

// ALL MONKIES
.page-template-page-monkies #monkies{
	// text-align:center;
	h2{
		text-align: center;
	}
	.monkie-item{
		margin-bottom:40px;
		.monkie-image{
			position:relative;
			h3{
				@include background-image(linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.7)));
				color:white;
				position:absolute;
				bottom:0px;
				left:0px;
				right:0px;
				margin:0;
				padding:20px 5px 15px;
				text-align: center;
				font-size:32px;
			}
			img{
				width:100%;
				height:auto;							
			}
			.dashicons-external{
				visibility: hidden;
				position: absolute;
				font-size:30px;
				height:30px;
				width:30px;
				right:20px;
				bottom:19px;
			}
		}
		p{
			font-size:15px;
		}
	}
	a.monkie-image{
		display: block;
		text-decoration: none;
		&:hover{
			p{
				color:#333333;
			}
			img{
				box-shadow:0 4px 0 $highlight;				
			}
			.dashicons-external{
				visibility: visible;
				color:white;
			}

		}
	}
}

// SINGLE MONKIE
