@media screen and (min-width: 768px) {
  /* line 7, ../sass/monkies.scss */
  .page-template-page-monkies #monkies .container {
    padding: 0;
  }
}
/* line 11, ../sass/monkies.scss */
.page-template-page-monkies #monkies h2 {
  text-align: center;
}
/* line 14, ../sass/monkies.scss */
.page-template-page-monkies #monkies .monkie-item {
  margin-bottom: 40px;
}
/* line 16, ../sass/monkies.scss */
.page-template-page-monkies #monkies .monkie-item .monkie-image {
  position: relative;
}
/* line 18, ../sass/monkies.scss */
.page-template-page-monkies #monkies .monkie-item .monkie-image .title {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC43Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.7)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0;
  padding: 20px 5px 10px;
  text-align: center;
}
/* line 28, ../sass/monkies.scss */
.page-template-page-monkies #monkies .monkie-item .monkie-image .title h3 {
  font-size: 32px;
  margin: 0;
}
/* line 32, ../sass/monkies.scss */
.page-template-page-monkies #monkies .monkie-item .monkie-image .title p {
  padding: 0;
  margin: 0;
  margin-top: -6px;
  color: white;
}
/* line 39, ../sass/monkies.scss */
.page-template-page-monkies #monkies .monkie-item .monkie-image img {
  width: 100%;
  height: auto;
}
/* line 43, ../sass/monkies.scss */
.page-template-page-monkies #monkies .monkie-item .monkie-image .dashicons-external {
  visibility: hidden;
  position: absolute;
  font-size: 30px;
  height: 30px;
  width: 30px;
  right: 20px;
  bottom: 19px;
}
/* line 53, ../sass/monkies.scss */
.page-template-page-monkies #monkies .monkie-item p {
  font-size: 15px;
}
@media screen and (max-width: 991px) {
  /* line 57, ../sass/monkies.scss */
  .page-template-page-monkies #monkies .monkie-item .intro {
    display: none;
  }
  /* line 60, ../sass/monkies.scss */
  .page-template-page-monkies #monkies .monkie-item .location {
    display: none;
  }
  /* line 63, ../sass/monkies.scss */
  .page-template-page-monkies #monkies .monkie-item .monkie-image .title h3 {
    font-size: 25px;
    margin: 0;
  }
}
/* line 69, ../sass/monkies.scss */
.page-template-page-monkies #monkies a.monkie-image {
  display: block;
  text-decoration: none;
}
/* line 73, ../sass/monkies.scss */
.page-template-page-monkies #monkies a.monkie-image:hover p {
  color: #333333;
}
/* line 76, ../sass/monkies.scss */
.page-template-page-monkies #monkies a.monkie-image:hover img {
  box-shadow: 0 4px 0 #4ebf3f;
}
/* line 79, ../sass/monkies.scss */
.page-template-page-monkies #monkies a.monkie-image:hover .dashicons-external {
  visibility: visible;
  color: white;
}

/* line 90, ../sass/monkies.scss */
#page.monkie-single header {
  margin-top: 30px;
  min-height: 300px;
}
@media screen and (min-width: 768px) {
  /* line 90, ../sass/monkies.scss */
  #page.monkie-single header {
    min-height: 400px;
  }
}
@media screen and (min-width: 992px) {
  /* line 90, ../sass/monkies.scss */
  #page.monkie-single header {
    min-height: 460px;
  }
}
