/* line 5, ../sass/navigation.scss */
.navigation {
  position: absolute;
  top: 227px;
  width: 100%;
}
/* line 9, ../sass/navigation.scss */
.navigation ul {
  margin-bottom: 0px;
  text-align: center;
}
/* line 12, ../sass/navigation.scss */
.navigation ul li {
  display: inline;
}
/* line 14, ../sass/navigation.scss */
.navigation ul li a {
  display: inline-block;
  padding: 20px;
  color: #555555;
  text-decoration: none;
}
/* line 19, ../sass/navigation.scss */
.navigation ul li a:hover {
  background-color: #4ebf3f;
  color: white;
}
/* line 26, ../sass/navigation.scss */
.navigation ul .current-menu-item a {
  background-color: #4ebf3f;
  color: white;
}

/* line 33, ../sass/navigation.scss */
.fixed {
  position: fixed;
  top: 0px;
  background-color: white;
  z-index: 10;
}
